*{
    margin: 0;
    scroll-behavior: smooth;
  }


.App{
    min-height: 100vh;
    color: white;
    padding-top: 140px;
    padding-bottom: 70px;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "lato", sans-serif;
    font-size: 2vw;
    padding: 4px;
    color: white;
}